*{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}

ul{
	list-style:none;
}

.user{
	width:120px;
	float:right;
	line-height:30px;
	color:white;
}

.user ul{
	background:white;
	display:none;
}

.user ul li{
	border:1px solid #4682B4;
	border-top:0px;
}

.user a{
	color:black;
}

.user a:hover{
	color:white;
}

.bar{
	float:left;
	margin-left:8%;
}


.bar a{
	color:white;
}

.bar a:hover{
	color:#C0C0C0;
}

.bar ul li{
	float:left;
	line-height:30px;
	margin-left:10px;
	font-weight:bold;
	width:100px;
}

#header{
	height:120px;
	width:100%;
	margin:0 auto;
}

#header img{
	float:left;
	height:100%;
	margin:0 3%;
}

#top-bar{
	height:30px;
	background:#4682B4;
	text-align:center;
}

